@import url("https://fonts.googleapis.com/css2?family=Rokkitt&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  color: white;
  background-color: black;
  font-family: "Rokkitt", "Open sans";
  padding: 0px 50px;
}

.light-mode {
  background-color: white;
  color: black;
}
.light-mode header .navbar .menu .toggle svg {
  width: 1.2rem;
  fill: black;
  cursor: pointer;
}
.light-mode header .navbar .menu .toggle svg:hover {
  color: red;
  transform: scale(1.1);
  transition: 2s;
  fill: red;
}
.light-mode header .navbar .menu .navlinks a svg {
  width: 1.2rem;
  fill: black;
  cursor: pointer;
}
.light-mode header .navbar .menu .navlinks a svg:hover {
  color: red;
  transform: scale(1.1);
  transition: 2s;
  fill: red;
}
.light-mode .search {
  background-color: white;
}
.light-mode .search .input input {
  border: 1px solid;
}
.light-mode .search .input #searchBtn svg svg {
  width: 1.2rem;
  fill: black;
  cursor: pointer;
}
.light-mode .search .input #searchBtn svg svg:hover {
  color: red;
  transform: scale(1.1);
  transition: 2s;
  fill: red;
}
.light-mode .search .close__search svg {
  width: 1.2rem;
  fill: black;
  cursor: pointer;
}
.light-mode .search .close__search svg:hover {
  color: red;
  transform: scale(1.1);
  transition: 2s;
  fill: red;
}
.light-mode .search .results .card .card--details .card--btn a svg {
  width: 1.2rem;
  fill: black;
  cursor: pointer;
}
.light-mode .search .results .card .card--details .card--btn a svg:hover {
  color: red;
  transform: scale(1.1);
  transition: 2s;
  fill: red;
}
.light-mode #overlay {
  background-color: white;
}
.light-mode #overlay .overlay--content ul a li {
  color: black;
}
.light-mode #overlay .close svg {
  width: 1.2rem;
  fill: black;
  cursor: pointer;
}
.light-mode #overlay .close svg:hover {
  color: red;
  transform: scale(1.1);
  transition: 2s;
  fill: red;
}
.light-mode .movie__list .card .card--details .card--btn a svg {
  width: 1.2rem;
  fill: black;
  cursor: pointer;
}
.light-mode .movie__list .card .card--details .card--btn a svg:hover {
  color: red;
  transform: scale(1.1);
  transition: 2s;
  fill: red;
}
.light-mode footer .icons ul li svg {
  width: 1.2rem;
  fill: black;
  cursor: pointer;
}
.light-mode footer .icons ul li svg:hover {
  color: red;
  transform: scale(1.1);
  transition: 2s;
  fill: red;
}

header .navbar {
  height: 50px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  top: 0px;
}
header .navbar h1 {
  cursor: pointer;
  font-size: 2rem;
}
header .navbar h1 span {
  color: red;
}
header .navbar .menu {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}
header .navbar .menu .toggle {
  margin-right: 50px;
}
header .navbar .menu .toggle svg {
  width: 1.2rem;
  fill: white;
  cursor: pointer;
}
header .navbar .menu .toggle svg:hover {
  color: red;
  transform: scale(1.1);
  transition: 2s;
  fill: red;
}
header .navbar .menu .toggle .light {
  display: block;
}
header .navbar .menu .toggle .dark {
  display: none;
}
header .navbar .menu .navlinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .navbar .menu .navlinks a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .navbar .menu .navlinks a svg {
  width: 1.2rem;
  fill: white;
  cursor: pointer;
}
header .navbar .menu .navlinks a svg:hover {
  color: red;
  transform: scale(1.1);
  transition: 2s;
  fill: red;
}
header .navbar .menu .navlinks a #user {
  display: none;
}
header .navbar .menu .navlinks a #home {
  display: none;
}
header .navbar .menu .navlinks a #search {
  display: none;
}

.search {
  background-color: rgba(0, 0, 0, 0.9);
  width: 0%;
  top: 0%;
  left: 0%;
  transition: 2s;
  transform: scaleX(1);
  height: 100vh;
  overflow: scroll;
  position: fixed;
  z-index: 2;
}
.search .input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  top: 10%;
  left: 25%;
  width: 300px;
  position: relative;
}
.search .input input {
  border: none;
  border-radius: 4px;
  padding: 7px;
}
.search .input #searchBtn {
  border: none;
  border-radius: 4px;
  margin-left: 3px;
  width: 1.8rem;
  padding: 5px;
}
.search .input #searchBtn svg {
  width: 1rem;
}
.search .close__search {
  top: 5%;
  right: 10%;
  position: absolute;
}
.search .close__search svg {
  width: 1.2rem;
  fill: white;
  cursor: pointer;
}
.search .close__search svg:hover {
  color: red;
  transform: scale(1.1);
  transition: 2s;
  fill: red;
}
.search .results {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 80px 0px;
}
.search .results .card {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  margin-bottom: 50px;
}
.search .results .card img {
  border: none;
  border-radius: 8px;
  width: 100%;
}
.search .results .card .card--details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.search .results .card .card--details .card--text {
  margin-top: 10px;
}
.search .results .card .card--details .card--text h2 {
  font-size: 1rem;
  font-weight: 400;
}
.search .results .card .card--details .card--text p {
  font-weight: normal;
  font-size: 1rem;
}
.search .results .card .card--details .card--btn {
  cursor: pointer;
}
.search .results .card .card--details .card--btn a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search .results .card .card--details .card--btn a svg {
  width: 1.2rem;
  fill: white;
  cursor: pointer;
}
.search .results .card .card--details .card--btn a svg:hover {
  color: red;
  transform: scale(1.1);
  transition: 2s;
  fill: red;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
  width: 0%;
  top: 0%;
  left: 0%;
  transition: 2s;
  transform: scaleX(1);
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#overlay .overlay--content {
  top: 25%;
}
#overlay .overlay--content ul {
  margin-bottom: 5rem;
  list-style-type: none;
}
#overlay .overlay--content ul a {
  text-decoration: none;
}
#overlay .overlay--content ul a li {
  font-size: 1.5rem;
  color: white;
  padding-bottom: 1.2rem;
}
#overlay .overlay--content ul a li:hover {
  text-decoration: underline;
}
#overlay .overlay--content ul a li:hover:hover {
  color: red;
  transform: scale(1.1);
  transition: 2s;
  fill: red;
}
#overlay .close {
  top: 5%;
  right: 10%;
  position: absolute;
}
#overlay .close svg {
  width: 1.2rem;
  fill: white;
  cursor: pointer;
}
#overlay .close svg:hover {
  color: red;
  transform: scale(1.1);
  transition: 2s;
  fill: red;
}

.home {
  margin-top: 30px;
  margin-bottom: 70px;
  height: 60vh;
  border: none;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-image: url(../images/cinema.avif);
  background-position: 50%;
}

.movie__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0px;
}
.movie__list .card {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-bottom: 50px;
}
.movie__list .card .img {
  width: 100%;
}
.movie__list .card .img img {
  border: none;
  border-radius: 8px;
  width: 100%;
}
.movie__list .card .card--details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.movie__list .card .card--details .card--text {
  margin-top: 10px;
}
.movie__list .card .card--details .card--text h2 {
  font-size: 1rem;
  font-weight: 400;
}
.movie__list .card .card--details .card--text p {
  font-weight: normal;
  font-size: 1rem;
}
.movie__list .card .card--details .card--btn {
  cursor: pointer;
}
.movie__list .card .card--details .card--btn a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.movie__list .card .card--details .card--btn a svg {
  width: 1.2rem;
  fill: white;
  cursor: pointer;
}
.movie__list .card .card--details .card--btn a svg:hover {
  color: red;
  transform: scale(1.1);
  transition: 2s;
  fill: red;
}

.movie__details {
  margin: 150px 0px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.movie__details .movie__details--img img {
  border: none;
  border-radius: 8px;
}
.movie__details .movie__details--text {
  text-align: justify;
  margin-top: 50px;
}
.movie__details .movie__details--text div {
  margin: 10px 0px;
}
.movie__details .movie__details--text p {
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0.8px;
  line-height: 1.2;
}
.movie__details .movie__details--text p span {
  font-weight: 900;
}
.movie__details .movie__details--text .btn {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.movie__details .movie__details--text .btn button {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
}
.movie__details .movie__details--text .btn button:hover {
  color: red;
  transform: scale(1.1);
  transition: 2s;
  fill: red;
}
.movie__details .movie__details--text .btn button a {
  text-decoration: none;
  color: black;
}

footer {
  margin-top: 50px;
  bottom: 0px;
  width: 100%;
}
footer .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0px;
}
footer .icons ul {
  list-style-type: none;
  display: flex;
}
footer .icons ul li {
  margin: 0px 10px;
}
footer .icons ul li svg {
  width: 1.2rem;
  fill: white;
  cursor: pointer;
}
footer .icons ul li svg:hover {
  color: red;
  transform: scale(1.1);
  transition: 2s;
  fill: red;
}
footer .foot__note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
footer .foot__note p {
  margin-right: 5px;
}

/******************* Media query styling begins here *********************************/
@media (max-width: 480px) {
  .container {
    padding: 10px;
  }
  header .navbar .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  header .navbar .menu .toggle {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .search .input {
    left: 10%;
  }
  .movie__details .movie__details--text p {
    font-size: 1rem;
    line-height: 1.5;
  }
}
@media (min-width: 768px) {
  header .navbar .menu .toggle {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  header .navbar .menu .navlinks {
    width: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  header .navbar .menu .navlinks a #menu {
    display: none;
  }
  header .navbar .menu .navlinks a #user {
    display: block;
  }
  header .navbar .menu .navlinks a #home {
    display: block;
  }
  header .navbar .menu .navlinks a #search {
    display: block;
  }
  .home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    height: 90vh;
    background-image: url(../images/karateKid.crdownload);
  }
  .search .results {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }
  .movie__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .movie__list .card {
    width: 300px;
  }
  .movie__details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }
  .movie__details .movie__details--text {
    width: 50%;
    margin: 0px;
  }
  .movie__details .movie__details--text p {
    font-size: 1.5rem;
  }
  footer .foot__note {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=styles.css.map */